# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
.Rproj.user

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

# mac stuff
.DS_Store

# bookdown stuff
_book/**
book_cache**
book_files**
book.Rmd

# ignore testing files - cache or HTML
*.html
**_cache**

# temp files created by RMarkdown
01_Part_A_Declaring_Diagnosing/**/*_files/*
02_Part_B_Design_Library/**/*_files/*
03_Part_C_Principles/**/*_files/*
04_Part_D_Declarations_in_Use/**/*_files/*
999_References/**/*_files/*

